<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="<%= context.csrf_token %>">
    <title><%= document_title %></title>
    <%= stylesheet_link "application.css" %>
    <%= hacienda_navigation context %>
    <%= javascript_include "helium-csp.js", module: true %>
  </head>
  <body>
    <header class="site-header">
      <a href="/" class="brand">Volt Workouts</a>
      <a href="/workouts/new" class="button button-small" data-hacienda-active-prefix="/workouts/new">Generate workout</a>
    </header>

    <%= navigation_page content, context: context %>
  </body>
</html>
